<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ABSA Application</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

    {% block header %}

    <header>

        <img src="{{ url_for('static', filename='img/absa_logo.png') }}" alt="ABSA Logo">

    </header>

    {% endblock %}

    <main>

        {% block content %}{% endblock %}

    </main>

</body>

</html>
